
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

}

:root {
    --BLACK: black;
    --GREY: #636664;
    --LIGHT-GREY: #a7a9ab;
    --GOLD: bisque;
    --MAGENTA: #FF00FF;
    --PURPLE: #af0bd4;
}

/* || MARGIN STYLES */
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-10 {margin-top: 10rem;}
.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem;}
.mr-1 {margin-right: 1rem;}
.mr-2 {margin-right: 2rem;}
.ml-1 {margin-left: 1rem;}
.ml-2 {margin-left: 2rem;}

.t-white {color: white;}


p, a{
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1rem, 2vw, 1.3rem)
}

.t-s {
    font-size: 0.7rem;
}

.p-l {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.p-b {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.grey {
    color: var(--GREY);
}


html {scroll-behavior: smooth;}

nav {
    border-bottom: solid 2px;
    width: 100%;
  
    position: fixed;
    top: 0;
    background-color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    list-style: none;
    
}

nav ul a{
    display: block;
    margin: 1rem 1rem;
    text-decoration: none;
    color: var(--BLACK);
}


/* INTRODUCTION SECTION  */

.Intro-Container {
    display: grid;
    margin: 8rem 3rem;
    grid-template-columns: 1fr 2fr ;
    gap: 2rem;

}

.Intro-Container p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}
.Intro-Container .Profile-Sec h1 {
    font-size: clamp(2rem, 5vw, 3rem);

}

h1 {
    color: var(--GREY);
    font-size: clamp(2rem, 5vw, 3rem);
}

.Intro-Container .Img-Sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Intro-Container .Img-Sec img:first-of-type{
    display: block;
    border-radius: 100%;
    max-width: 80%;
    height: auto;
}

/* PROJECT SECTION  */

.Project-Container {
    display: flex;
    flex-direction: column;
}

.Project-Container .Project-Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.Project-Container .Project-Grid .Project-n {

    margin: 3rem;

    border: black;
    border-style:solid;
    border-radius: 2rem;
    min-width: 200px;
    height: 400px;
    
   /* background-position: 0% 120%; */
    position: relative;
    overflow: hidden;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    text-shadow: 0 0 3px #000000, 0 0 5px #050505;

}

.Project-Container .Project-Grid .Project-n:first-child {
    
    background-image: url('/images/graph.png');
    background-size: cover;
}

.Project-Container .Project-Grid .Project-n:nth-child(2) {
    
    background-image: url('/images/covidgraph.png');
    background-size: cover;
}


.Project-Container .Project-Grid .Project-n .Project-Desc {
    margin-top: 30%;
}


.Project-Container .Project-Grid .Project-n .Skill-Container {
    margin-top: 10%;
}

.Project-Container .Project-Grid .Project-n .Skill-Part p {
    position: relative;
    left: 0.3rem;
}

.Outer-Bar {
    width: 40%;
    height: 0.5rem;
    background-color: var(--GREY);
    border-radius: 1rem;
    position: relative;
    left: 0.3rem;

}

.Inner-Bar {
    
    height: inherit;
    background-color: var(--MAGENTA);
    position: absolute;
    left: 0;
    border-radius: 1rem;
}

